/node_modules
/public/hot
/public/storage
/storage/*.key
/ngrok
/vendor
/env
/Onschool_Api_Backend.zip
/.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env
.env
